// Загрузка шрифтов
$path: "~@/assets/fonts/";

@mixin font($family, $src, $weight: false, $style: false) {
    @font-face {
        font-display: swap;
        font-family: quote($family);
        src: url($path + $src + ".woff2") format("woff2"), url($path + $src + ".woff") format("woff");

        @if ($weight) {
            font-weight: $weight;
        }

        @if ($style) {
            font-style: $style;
        }
    }
}

// Добавление шрифтов
@include font("PT Root UI", "PTRootUI-Light", 300);
@include font("PT Root UI", "PTRootUI-Regular", 400);
@include font("PT Root UI", "PTRootUI-Medium", 500);
@include font("PT Root UI", "PTRootUI-Bold", 600);

// Переменные
$brand-font: "PT Root UI", sans-serif;

