@import 'fonts';
@import 'variables';
@import 'animations';

@import 'pages/home';

@import 'components/card';
@import 'components/filter-card';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'PT Root UI';
  font-weight: normal;
  font-style: normal;
  color: $black;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 54px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 48px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.desktop-hide {
  visibility: hidden;
}

@media screen and (max-width: 960px) {
  h1 {
    margin-bottom: 31px;
  }
  .desktop-hide {
    visibility: visible;  
  }
}