.card {
  width: 100%;
  display: flex;
  padding: 16px 0 24px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  .card-img {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .card-content {
    width: calc(100% - 80px);
    padding: 0 0 0 20px;
    display: flex;
    .card-content_title {
      width: 44.1%;
      max-width: 300px;
      padding-right: 20px;
      a {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        transition: $fast-animation-speed;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $red;
        }
      }
    }
    .card-content_size {
      width: 20.5%;
      max-width: 140px;
      padding-right: 20px;
      margin-top: -3px;
      span {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .card-content_floor {
      width: 20.5%;
      max-width: 140px;
      padding-right: 20px;
      span {
        font-size: 16px;
        line-height: 24px;
        .color-gray {
          color: rgba($color: $black, $alpha: 0.5);
        }
      }
    }
    .card-content_price {
      width: 17.6%;
      max-width: 120px;
      span {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  @media screen and (max-width: 960px) {
    flex-direction: row-reverse;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 14px;
    padding-bottom: 16px;
    margin-bottom: 4px;
    .card-img {
      width: 104px;
      padding-right: 24px;
    }
    .card-content {
      width: calc(100% - 104px);
      flex-wrap: wrap;
      align-content: flex-start;
      .card-content_title {
        width: 100%;
        max-width: 100%;
        margin-bottom: 14px;
        a {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .card-content_size {
        width: 100%;
        max-width: 67px;
        padding-right: 20px;
        padding-left: 3px;
        span {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .card-content_floor {
        width: 100%;
        max-width: 100px;
        padding-right: 20px;
        span {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .card-content_price {
        span {
          white-space: nowrap;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}